html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body > div[ui-view] {
    min-height: 100%;
    color: #4F4141;
    background: #F2EDD8 url("../img/bg-top.png") no-repeat center top;
}

.out {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.out .header {
    height: 140px;
}

.row.top .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;

    height: 107px;
    padding-bottom: 10px;
}

.row.top:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #7985B5;
}

.row.line .col:first-child {
    margin-top: 12px;
    line-height: 20px;
}

.row.line .col:first-child a {
    color: #949494;
    cursor: pointer;
    text-decoration: none;
}

.row.line .col:first-child a:hover {
    text-decoration: underline;
}

.row.line .col:first-child a.active {
    color: #00194B;
}

.row.line:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #39A0C6;
}

.row.line .col:last-child {
    text-align: right;
}

.row.line .logout {
    line-height: 32px;
    font-size: 16px;
    color: #D86100;
    cursor: pointer;
}

.header__menu {
    width: 100%;
}

.header__menu:after {
    content: "";
    display: block;
    clear: both;
}

.header__menu--list {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu--list li {
    float: left;
    padding: 0 10px;
}

.header__menu--list li a {
    display: block;
}

.header__menu--list li span {
    color: #39A0C6;
}

.header__menu--list .icon-wrapper {
    display: block;
    text-align: center;
}

.header__menu--list .icon-wrapper i {
    content: "";
    display: inline-block;
    width: 24px;
    height: 20px;
    vertical-align: middle;
    background: no-repeat center;
}

.header__menu--list .icon-wrapper i.how-icon {
    background-image: url("../img/question.png");
}

.header__menu--list .icon-wrapper i.statistics-icon {
    background-image: url("../img/statistics.png");
}

.header__menu--list .icon-wrapper i.transactions-icon {
    background-image: url("../img/transactions.png");
}

.header__menu--list .icon-wrapper i.contacts-icon {
    background-image: url("../img/contacts.png");
}


/* Central */
h2 {
    font-size: 18px;
    color: #39A0C6;
}

h2:after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 12px;
    background-color: #7985b5;
}

.page,
.home {
    margin-top: 30px;
}

.content__block--steps span {
    color: #D86100;
}

.content__block--steps p {
    margin-bottom: 3px;
}

.title-item span {
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-item p {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.content__statistics .statistics-graphics .graphics-block .block-item .item-graphic div {
    width: 100%;
    height: 200px;
    font-size: 14px;
    overflow: hidden;
}

.content__statistics .statistics-graphics .graphics-block .block-item .item-graphic line,
.content__statistics .statistics-graphics .graphics-block .block-item .item-graphic .domain {
    stroke: #4F4141;
    stroke-opacity: 0.5;
}

.content__statistics .statistics-graphics .graphics-block .block-item .item-graphic text {
    fill: #4F4141;
    fill-opacity: 0.5;
}

.content__statistics .statistics-graphics .graphics-block .block-item .item-graphic path {
    stroke: #39A0C6;
}

.loginPopup {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loginPopup-overflow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.loginPopup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginPopup-content .panel {
    margin: 0;
}

main > .col {
    float: right;
}

.aside {
    margin-top: 30px;
}

.aside__block {
    padding: 14px;
    background: radial-gradient(ellipse at 0 0, #ffffff 0%, rgba(255, 255, 255, 0) 70%);
}

.aside__block h3 {
    margin: 0 0 15px;
    font-size: 18px;
    color: #39A0C6;
}

.aside__block p {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #D86100;
}

.aside__block .aside__block--list {
    margin: 0;
    padding: 0;
}

.aside__block .aside__block--list p {
    font-size: 12px;
    color: #5B5B5B;
}

.aside__block .aside__block--list span {
    font-size: 12px;
}

.aside__block .aside__block--list.list-change li,
.aside__block .aside__block--list.white li {
    list-style: none;
}

.aside__block .aside__block--list.list-change p,
.aside__block .aside__block--list.white p {
    float: left;
    width: 50%;
    text-align: left;
}

.aside__block .aside__block--list.list-change span,
.aside__block .aside__block--list.white span {
    float: left;
    width: 50%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-title h4 {
    font-size: 14px;
    color: #D86100;
}

.accordion-item h3 {
    margin: 10px 0;
}

.accordion-item h3 a {
    font-size: 18px;
    color: #D86100;
}

.tab-pane {
    background-color: #FFFFFF;
}

.tab-pane input {
    width: 100%;
}

.tab-pane div {
    padding: 10px;
}

.tab-pane img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}

.accordion-item .text {
    display: none;
}

.table {
    table-layout: fixed;
}

.table .text-over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    padding-top: 60px;
}

.footer__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__menu li {
    float: left;
}

.footer__menu li a {
    padding: 10px;
    line-height: 67px;
}

@media (max-width: 768px) {
    .out .header {
        height: auto;
    }

    main.clearfix {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-flow: nowrap column;
        -moz-flex-flow: nowrap column;
        -ms-flex-flow: nowrap column;
        flex-flow: nowrap column;

        width: 100%;
    }

    main.clearfix > .col {
        float: none;
    }

    main.clearfix > .col:first-child {
        order: 2;
    }

    main.clearfix > .col:last-child {
        order: 1;
    }
}

.flag{    
    height: 30px;
    width: 30px;
    display: inline-block;
}

.en-icon {
    background: url(../img/EN.png) no-repeat;background-position: left top;background-size: 30px 30px;   
}
.cn-icon {
    background: url(../img/CN.png) no-repeat;background-position: left top;background-size: 30px 30px;    
}
.ru-icon {
    background: url(../img/RU.png) no-repeat;background-position: left top;background-size: 30px 30px;    
}

.col.col-xs-12.ui-view.ng-scope{padding:0px;}
.page, .home{margin-top: 0PX;}
[class*="col-"] {margin-top: 0px;}