<section class="ls section_padding_top_100 section_padding_bottom_100 ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <div class="content__block" id="about-js">
                    <div class="title">
                        <h3 translate="DEFAULT.PAGE.ABOUT.TITLE"></h3>
                    </div>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_1"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_2"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_3"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_4"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_5"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_6"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_7"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_8"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_9"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_10"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_11"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_12"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_13"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_14"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_15"></p>
                </div>
            </div>
        </div>
    </div>

    <section class="ls page_portfolio clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12" style="position: absolute; left: 0%; top: 0px;">
                            <div class="vertical-item team-item content-padding text-center with_border">
                                <div class="item-media"> <img src="images/team/01.jpg" alt=""> </div>
                                <div class="item-content">
                                    <h4 class="bottommargin_0"> <a href="team-single.html">Betty Nichols</a> </h4>
                                    <p class="small-text no-spacing highlight">Consultant</p>
                                    <p class="content-3lines-ellipsis"> Andouille chicken sausage pork belly short ribs pig hamburger pancetta frankfurter drumstick ham hock. </p>
                                    <p class="social-links"> <a class="social-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon soc-google" href="#" title="Google"></a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12" style="position: absolute; left: 33.3333%; top: 0px;">
                            <div class="vertical-item team-item content-padding text-center with_border">
                                <div class="item-media"> <img src="images/team/02.jpg" alt=""> </div>
                                <div class="item-content">
                                    <h4 class="bottommargin_0"> <a href="team-single.html">Sarah Thomas</a> </h4>
                                    <p class="small-text no-spacing highlight">Trader</p>
                                    <p class="content-3lines-ellipsis"> Andouille chicken sausage pork belly short ribs pig hamburger pancetta frankfurter drumstick ham hock. </p>
                                    <p class="social-links"> <a class="social-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon soc-google" href="#" title="Google"></a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12" style="position: absolute; left: 66.6667%; top: 0px;">
                            <div class="vertical-item team-item content-padding text-center with_border">
                                <div class="item-media"> <img src="images/team/03.jpg" alt=""> </div>
                                <div class="item-content">
                                    <h4 class="bottommargin_0"> <a href="team-single.html">Bernard Rogers</a> </h4>
                                    <p class="small-text no-spacing highlight">Broker</p>
                                    <p class="content-3lines-ellipsis"> Andouille chicken sausage pork belly short ribs pig hamburger pancetta frankfurter drumstick ham hock. </p>
                                    <p class="social-links"> <a class="social-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon soc-google" href="#" title="Google"></a> </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- eof .isotope_container.row -->
                </div>
            </div>

        </div>
    </section>

</section>

