﻿<section class="ls section_padding_top_100 section_padding_bottom_100 ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content__block" id="affilate-js">
                    <div class="title">
                        <h3 translate="DEFAULT.PAGE.AFFILIATE.TITLE"></h3>
                    </div>
                    <p class="main__text" translate="DEFAULT.PAGE.AFFILIATE.ABOUT"></p>
                    <ul class="list-unstyled affilative-list main__text">
                        <li translate="DEFAULT.PAGE.AFFILIATE.STEP_1"></li>
                        <li translate="DEFAULT.PAGE.AFFILIATE.STEP_2"></li>
                        <li translate="DEFAULT.PAGE.AFFILIATE.STEP_3"></li>
                        <li translate="DEFAULT.PAGE.AFFILIATE.STEP_4"></li>
                    </ul>
                    <div class="tabs" ng-init="currentTab = 0">
                        <ul class="nav nav-tabs">
                            <li ng-repeat="(index, tab) in tabs" ng-class="{active: currentTab == index}" ng-click="$parent.currentTab = index">
                                <a>{{tab}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" ng-repeat="(index, tab) in tabs" ng-class="{'in active': $parent.currentTab == index}">
                                <input type="text" value="img/banners/{{tab}}.gif" readonly="readonly">
                                <div>
                                    <img src="img/banners/{{tab}}.gif" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>