<div class="">
    <!-- template sections -->
    <section class="page_toplogo ls section_padding_top_15 section_padding_bottom_15 table_section table_section_md">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                    <a href="#" class="logo top_logo top_offset_logo header__logo">
                        <img src="img/logo.png" alt="">
                    </a>
                    <!-- header toggler -->
                    <span class="toggle_menu">
                        <span></span>
                    </span>
                </div>
                <div class="col-md-6 col-sm-6 col-md-pull-4 text-center text-md-left socialicon">
                    
                        <a class="social-icon border-icon rounded-icon color-icon soc-facebook" href="#" title="Facebook"></a>
                        <a class="social-icon border-icon rounded-icon color-icon soc-twitter" href="#" title="Twitter"></a>
                        <a class="social-icon border-icon rounded-icon color-icon soc-google" href="#" title="Google"></a>
                        <a class="social-icon border-icon rounded-icon color-icon soc-linkedin" href="#" title="Linkedin"></a>
                        <a class="social-icon border-icon rounded-icon color-icon soc-youtube" href="#" title="Youtube"></a>
                    
                </div>
                <div class="col col-xs-4 line hidden-xs hidden-sm">
                   
                </div>
                <div class="col-md-4 col-sm-6 text-center text-md-right  lang-search-wrapper">
                    <div class="langicon-wrapper">
                        <a ng-click="setTranslation('en')" ng-class="{active: getTranslation() == 'en'}"><span class="social-icon border-icon rounded-icon color-icon flag en-icon"></span></a>
                        <a ng-click="setTranslation('ru')" ng-class="{active: getTranslation() == 'ru'}"><span class="social-icon border-icon rounded-icon color-icon flag ru-icon"></span></a>
                        <a ng-click="setTranslation('cn')" ng-class="{active: getTranslation() == 'cn'}"><span class="social-icon border-icon rounded-icon color-icon flag cn-icon"></span></a>
                    </div>

                    <div class="widget widget_search inline-block hidden-xs">
                        <form method="get" class="searchform form-inline" action="./">
                            <div class="form-group-wrap">
                                <div class="form-group margin_0">
                                    <label class="sr-only" for="topline-search">Search for:</label>
                                    <input id="topline-search" type="text" value="" name="search" class="form-control" placeholder=""> </div>
                                <button type="submit" class="theme_button color1 no_bg_button">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row line">
                    <!--<div class="col col-xs-6">
                        <a ng-click="setTranslation('en')" ng-class="{active: getTranslation() == 'en'}"><span class="social-icon border-icon rounded-icon color-icon flag en-icon"></span></a>
                        <a ng-click="setTranslation('ru')" ng-class="{active: getTranslation() == 'ru'}"><span class="social-icon border-icon rounded-icon color-icon flag ru-icon"></span></a>
                        <a ng-click="setTranslation('cn')" ng-class="{active: getTranslation() == 'cn'}"><span class="social-icon border-icon rounded-icon color-icon flag cn-icon"></span></a>
                    </div>-->
                    <div class="col col-xs-12 logbtn-wrapper">
                        <a class="logout" ng-if="!$root.user" ng-click="$root.loginPopup = true">LOGIN</a>
                        <a  class="logout" ng-if="!$root.user" ng-click="$root.signupPopup = true">SIGNUP</a>
                        <a class="logout" ng-if="$root.user" ng-click="makeLogout()">LOGOUT</a>
                    </div>
                </div>
                <div class="row login" ng-if="!$root.user">

                </div>
        </div>
    </section>


    <header class="page_header header_white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <!-- main nav start -->
                    <nav class="mainmenu_wrapper 1header__menu">
                        <ul class="mainmenu nav sf-menu">
                            <li class="active">
                                <a ui-sref="main.home" moveto="#how-js"  data-target="#home">
                                    <span class="icon-wrapper">
                                        <i class="how-icon"></i>
                                    </span>
                                    <span class="menu-text" translate="DEFAULT.HEADER.MENU.HOW"></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="main.home" moveto="#statistics-js" data-target="#home">
                                    <span class="icon-wrapper">
                                        <i class="statistics-icon"></i>
                                    </span>
                                    <span class="menu-text" translate="DEFAULT.HEADER.MENU.STATISTICS"></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="main.home" moveto="#transactions-js" data-target="#home">
                                    <span class="icon-wrapper">
                                        <i class="transactions-icon"></i>
                                    </span>
                                    <span class="menu-text" translate="DEFAULT.HEADER.MENU.TRANSACTIONS"></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="main.faq" moveto="#faq" data-target="#home">
                                    <span class="icon-wrapper">
                                        <i class="contacts-icon"></i>
                                    </span>
                                    <span class="menu-text" translate="DEFAULT.HEADER.MENU.INFORMATION"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- eof main nav -->                    
                </div>
            </div>
        </div>
    </header>
  

    <main class="clearfix">
        <div class="col col-xs-12 ui-view" ng-class="{'col-sm-9': $root.user}"></div>
        <div ng-if="$root.user" class="col col-sm-3 col-xs-12">
            <aside class="aside">
                <div class="aside__block">
                    <div class="aside__block--title">
                        <h3 translate="DEFAULT.HOME.BITCOIN_ADDRESS"></h3>
                    </div>
                    <p>
                        <span>{{$root.user.user_wallet}}</span>
                    </p>
                </div>
                <div class="aside__block">
                    <div class="aside__block--title">
                        <h3 translate="DEFAULT.HOME.MY_STATISTICS.TITLE"></h3>
                    </div>
                    <ul class="aside__block--list white">
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_STATISTICS.BALANCE"></p>
                            <span>{{(userStats.balance / 100000000) || 0}} BTC</span>
                        </li>
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_STATISTICS.AVAILABLE_BALANCE"></p>
                            <span>{{(userStats.available_balance / 100000000) || 0}} BTC</span>
                        </li>
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_STATISTICS.ACTIVE_DEPOSIT"></p>
                            <span>{{(userStats.active_deposit / 100000000) || 0}} BTC</span>
                        </li>
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_STATISTICS.DEPOSITS"></p>
                            <span>{{(userStats.deposits / 100000000) || 0}} BTC</span>
                        </li>
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_STATISTICS.WITHDRAWAL"></p>
                            <span>{{(userStats.withdrawals / 100000000) || 0}} BTC</span>
                        </li>
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_STATISTICS.EARNED"></p>
                            <span>{{(userStats.referrals / 100000000) || 0}} BTC</span>
                        </li>
                        <form name="withdrawForm">
                            <div class="form-group" ng-class="{ 'has-error': withdrawForm.amount.$invalid && withdrawForm.amount.$dirty }">
                                <input server-error class="form-control input-lg" type="text" name="amount" ng-model="withdraw.amount" placeholder="0.000000"
                                    required autofocus>
                            </div>
                            <button type="submit" class="btn btn-block btn-warning" ng-click="withdrawForm.$valid && makeWithdrawPrincipal(withdraw)">Principal</button>
                            <button type="submit" class="btn btn-block btn-success" ng-click="withdrawForm.$valid && makeWithdrawEarnings(withdraw)">Earnings</button>
                        </form>
                    </ul>
                </div>
                <div class="aside__block">
                    <div class="aside__block--title">
                        <h3 translate="DEFAULT.HOME.MY_PAYOUT.TITLE"></h3>
                    </div>
                    <ul class="aside__block--list list-change">
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_PAYOUT.AMOUNT"></p>
                            <span translate="DEFAULT.HOME.MY_PAYOUT.TRANSACTION"></span>
                        </li>
                        <li class="clearfix" ng-repeat="payout in userStats.payouts">
                            <p>{{(payout.amount / 100000000) || 0}} BTC</p>
                            <span>
                                <a target="_blank" href="https://blockchain.info/tx/{{payout.transaction_hash}}">{{payout.transaction_hash}}</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="aside__block">
                    <div class="aside__block--title">
                        <h3 translate="DEFAULT.HOME.MY_REFERRAL_COMMISIONS.TITLE"></h3>
                    </div>
                    <ul class="aside__block--list list-change">
                        <li class="clearfix">
                            <p translate="DEFAULT.HOME.MY_REFERRAL_COMMISIONS.AMOUNT"></p>
                            <span translate="DEFAULT.HOME.MY_REFERRAL_COMMISIONS.TRANSACTION"></span>
                        </li>
                        <li class="clearfix" ng-repeat="ref in userStats.last_ref">
                            <p>{{(ref.amount / 100000000) || 0}} BTC</p>
                            <span ng-if="ref.transaction_hash">
                                <a target="_blank" href="https://blockchain.info/tx/{{ref.transaction_hash}}">{{ref.transaction_hash}}</a>
                            </span>
                            <span ng-if="!ref.transaction_hash">
                                <p>{{ref.username}}</p>
                            </span>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </main>

    <section id="map" class="ls" data-address="Terracina, LT, Italia">
        <!-- marker description and marker icon goes here -->
        <div class="map_marker_description">
            <h3>Map Title</h3>
            <p>Map description text</p>
            <!-- <img class="map_marker_icon" src="images/map_marker_icon.png" alt=""> -->
        </div>
    </section>

    <footer class="page_footer ds texture_bg section_padding_top_65 section_padding_bottom_65 columns_padding_25 table_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-md-push-4 text-center">
                    <div class="widget widget_text">
                        <a href="./" class="logo">
                            <img src="images/logo-clear.png" alt="">
                        </a>
                        <h3 class="widget-title topmargin_15">Hash Coin</h3>
                        <p class="bottommargin_10">At vero eos et accusam justo duo dolores earebum kasd gureno takimata sanctu ipsum dolor sit amet lorem ipsum.</p>
                        <p class="small-text grey colorlinks"> 2099 Limer St, Ellijay, GA 30540<br> 576-97-3127<br> <a href="mailto:hashcoin@example.com">hashcoin@example.com</a> </p>
                        <p class="topmargin_25"> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-facebook"></a> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-twitter"></a> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-google"></a>									<a href="#" class="social-icon color-icon rounded-icon border-icon soc-linkedin"></a> <a href="#" class="social-icon color-icon rounded-icon border-icon soc-youtube"></a> </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-md-pull-4 text-center">
                    <div class="widget widget_recent_entries widget_media_margin">
                        <h3 class="widget-title">Recent Blogs</h3>
                        <ul class="greylinks">
                            <li>
                                <p class="bottommargin_0"> <a href="blog-single-left.html">Lorem ipsum doloamet consetetur sadipscing</a> </p>
                                <p class="inline-content darklinks small-text no-spacing">
                                    <a href="blog-single-right.html">
                                        <i class="rt-icon2-calendar4 rightpadding_5 highlight"></i>
                                        <time datetime="2017-10-03T08:50:40+00:00">
                                            22.10.17
                                        </time>
                                    </a> <a href="blog-right.html">
                                        <i class="rt-icon2-user rightpadding_5 highlight"></i>
                                        admin
                                    </a> <a href="blog-right.html">
                                        <i class="rt-icon2-clip rightpadding_5 highlight"></i>
                                        news
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="bottommargin_0"> <a href="blog-single-left.html">Eirmod tempor invidunt labore dolo magna </a> </p>
                                <p class="inline-content darklinks small-text no-spacing">
                                    <a href="blog-single-right.html">
                                        <i class="rt-icon2-calendar4 rightpadding_5 highlight"></i>
                                        <time datetime="2017-10-03T08:50:40+00:00">
                                            22.10.17
                                        </time>
                                    </a> <a href="blog-right.html">
                                        <i class="rt-icon2-user rightpadding_5 highlight"></i>
                                        admin
                                    </a> <a href="blog-right.html">
                                        <i class="rt-icon2-clip rightpadding_5 highlight"></i>
                                        news
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="widget widget_mailchimp widget_media_margin">
                        <h3 class="widget-title">Newsletter</h3>
                        <form class="signup" action="./" method="get">
                            <p class="bottommargin_30">Subscribe to our mailing list to receive new updates and special offers:</p>
                            <div class="form-group-wrap">
                                <div class="form-group"> <label for="footer-mailchimp" class="sr-only">Enter your email here</label> <input name="email" type="email" id="footer-mailchimp" class="mailchimp_email form-control" placeholder="Email Address"> </div> <button type="submit" class="theme_button no_bg_button color1">Subscribe</button>
                            </div>
                            <div class="response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <footer class="footer mobfooter">
        <div class="container">
            <div class="row">
                <div class="col col-sm-6 col-xs-12" ng-class="{'col-sm-offset-3 col-sm-5': $root.user}">
                    <a href="#" class="header__logo">
                        <img src="img/logo.png" alt="logo">
                    </a>
                    <div class="footer__copyright">© GATE TO BIT 2017. All Rights Reserved.</div>
                </div>
                <ul class="col col-sm-6 col-xs-12 footer__menu" ng-class="{'col-sm-4': $root.user}">
                    <li>
                        <a moveto="#tos-js" ui-sref="main.terms-of-services" translate="DEFAULT.FOOTER.TOS"></a>
                    </li>
                    <li>
                        <a moveto="#faq"  ui-sref="main.faq" translate="DEFAULT.FOOTER.FAQ"></a>
                    </li>
                    <li>
                        <a moveto="#affilate-js"  ui-sref="main.affiliate"  translate="DEFAULT.FOOTER.AFFILIATE"></a>
                    </li>
                    <li>
                        <a moveto="#about-js"  ui-sref="main.about" translate="DEFAULT.FOOTER.ABOUT"></a>
                    </li>
                    <li>
                        <a moveto="#support-js"  ui-sref="main.support" translate="DEFAULT.FOOTER.SUPPORT"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<div ng-show="$root.loginPopup" class="loginPopup">
    <div class="loginPopup-overflow" ng-click="$root.loginPopup = false"></div>
    <div class="loginPopup-content">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center">Login</h4>
                <form name="loginForm" ng-submit="emailLogin()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$dirty }">
                        <input server-error class="form-control input-lg" type="text" name="username" ng-model="user.username" placeholder="username"
                            required autofocus>
                        <input server-error class="form-control input-lg" type="text" name="password" ng-model="user.password" placeholder="password"
                            required autofocus>
                    </div>
                    <button type="submit" class="btn btn-block btn-success" ng-click="loginForm.$valid && makeLogin(user)">Wallet</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="signupform" ng-show="$root.signupPopup" class="loginPopup">
    <div class="loginPopup-overflow" ng-click="$root.signupPopup = false"></div>
    <div class="loginPopup-content">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center">Signup</h4>
                <form name="signupForm" ng-submit="emailSignup()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': signupForm.email.$invalid && signupForm.email.$dirty }">
                        <input server-error class="form-control input-lg" type="text" name="username" ng-model="user.username" placeholder="Username"
                            required autofocus>
                        <input server-error class="form-control input-lg" type="text" name="email" ng-model="user.email" placeholder="Email" required
                            autofocus>
                        <input server-error class="form-control input-lg" type="text" name="password" ng-model="user.password" placeholder="Password"
                            required autofocus>
                        <input server-error class="form-control input-lg" type="text" name="wallet" ng-model="user.wallet" placeholder="Wallet" required
                            autofocus>
                        <div class="help-block" ng-if="signupForm.wallet.$dirty" ng-messages="signupForm.wallet.$error">
                            <div ng-message="server">Invalid wallet</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success" ng-click="signupForm.$valid && makeSignup(user)">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>

