<div class="col col-xs-12 ui-view ng-scope" ng-class="{'col-sm-9': $root.user}">
    <!--<div class="page content ng-scope">
        <div class="content__block" id="asked-js">
            <div class="content__block" id="asked-js">
                <div class="title">
                    <h2 translate="DEFAULT.PAGE.FAQ.TITLE" class="ng-scope">Frequently Asked Questions</h2>
                </div>
                <div class="content__block--accordion">
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A1.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A1.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A2.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A2.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A3.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A3.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A4.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A4.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A5.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A5.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A6.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A6.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A7.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A7.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A8.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A8.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A9.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A9.ANSWER"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>
                            <a href="" translate="DEFAULT.PAGE.FAQ.A10.QUESTION"></a>
                        </h3>
                        <div class="text">
                            <div translate="DEFAULT.PAGE.FAQ.A10.ANSWER"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

<section id="faq" class="ls section_padding_top_150 section_padding_bottom_130">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel-group" id="accordion1">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <div translate="DEFAULT.PAGE.FAQ.A1.QUESTION"></div>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A1.ANSWER"></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">                               
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <div translate="DEFAULT.PAGE.FAQ.A2.QUESTION"></div>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A2.ANSWER"></div>
                        </div>
                    </div>
                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                
                                <a class="collapsed">    
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <div translate="DEFAULT.PAGE.FAQ.A3.QUESTION"></div>                                
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A3.ANSWER"></div>
                        </div>
                    </div>
                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                
                                <a class="collapsed">                                  
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <div translate="DEFAULT.PAGE.FAQ.A4.QUESTION"></div>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A4.ANSWER"></div>
                        </div>
                    </div>

                    
                     
                    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel-group" id="accordion2">                   

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <span translate="DEFAULT.PAGE.FAQ.A6.QUESTION"></span>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A6.ANSWER"></div>
                        </div>
                    </div>
                   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <span translate="DEFAULT.PAGE.FAQ.A7.QUESTION"></span>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A7.ANSWER"></div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <span translate="DEFAULT.PAGE.FAQ.A8.QUESTION"></span>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A8.ANSWER"></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <span translate="DEFAULT.PAGE.FAQ.A9.QUESTION"></span>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A9.ANSWER"></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed">
                                    <i class="rt-icon2-pen" aria-hidden="true"></i>
                                    <div translate="DEFAULT.PAGE.FAQ.A5.QUESTION"></div>
                                </a>
                            </h3>
                        </div>
                        <div>
                            <div class="panel-body" translate="DEFAULT.PAGE.FAQ.A5.ANSWER"></div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>