<div class="page content">
    <div class="content__block" id="asked-js">
        <div class="title">
            <h2 translate="DEFAULT.PAGE.FAQ.TITLE"></h2>
        </div>
        <div class="content__block--accordion">
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A1.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A1.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A2.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A2.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A3.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A3.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A4.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A4.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A5.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A5.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A6.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A6.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A7.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A7.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A8.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A8.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A9.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A9.ANSWER"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h3>
                    <a href="" translate="DEFAULT.PAGE.FAQ.A10.QUESTION"></a>
                </h3>
                <div class="text">
                    <div translate="DEFAULT.PAGE.FAQ.A10.ANSWER"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__block" id="affilate-js">
        <div class="title">
            <h2 translate="DEFAULT.PAGE.AFFILIATE.TITLE"></h2>
        </div>
        <p class="main__text" translate="DEFAULT.PAGE.AFFILIATE.ABOUT"></p>
        <ul class="list-unstyled affilative-list main__text">
            <li translate="DEFAULT.PAGE.AFFILIATE.STEP_1"></li>
            <li translate="DEFAULT.PAGE.AFFILIATE.STEP_2"></li>
            <li translate="DEFAULT.PAGE.AFFILIATE.STEP_3"></li>
            <li translate="DEFAULT.PAGE.AFFILIATE.STEP_4"></li>
        </ul>
        <div class="tabs" ng-init="currentTab = 0">
            <ul class="nav nav-tabs">
                <li ng-repeat="(index, tab) in tabs" ng-class="{active: currentTab == index}" ng-click="$parent.currentTab = index">
                    <a>{{tab}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade" ng-repeat="(index, tab) in tabs" ng-class="{'in active': $parent.currentTab == index}">
                    <input type="text" value="http://gatetobit.com/img/banners/{{tab}}.gif" readonly="readonly">
                    <div>
                        <img src="/img/banners/{{tab}}.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__block" id="tos-js">
        <div class="title">
            <h2 translate="DEFAULT.PAGE.TOS.TITLE"></h2>
        </div>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A1"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A2"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A3"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A4"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A5"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A6"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A7"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A8"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A9"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A10"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A11"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A12"></p>
        <p class="main__text" translate="DEFAULT.PAGE.TOS.A13"></p>
    </div>
    <div class="content__block" id="about-js">
        <div class="title">
            <h2 translate="DEFAULT.PAGE.ABOUT.TITLE"></h2>
        </div>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_1"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_2"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_3"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_4"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_5"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_6"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_7"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_8"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_9"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_10"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_11"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_12"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_13"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_14"></p>
        <p class="main__text" translate="DEFAULT.PAGE.ABOUT.TEXT_15"></p>
    </div>
    <div class="content__block" id="support-js">
        <div class="title">
            <h2 translate="DEFAULT.PAGE.SUPPORT.TITLE"></h2>
        </div>
        <p class="main__text" translate="DEFAULT.PAGE.SUPPORT.A1"></p>
        <p class="main__text" translate="DEFAULT.PAGE.SUPPORT.A2"></p>
        <p class="main__text"><span translate="DEFAULT.PAGE.SUPPORT.EMAIL"></span> support@gatetobit.com</p>
    </div>
</div>