﻿<section class="ls section_padding_top_100 section_padding_bottom_100 ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <div class="content__block" id="support-js">
                    <div class="title">
                        <h3 translate="DEFAULT.PAGE.SUPPORT.TITLE"></h3>
                    </div>
                    <p class="main__text" translate="DEFAULT.PAGE.SUPPORT.A1"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.SUPPORT.A2"></p>
                    <p class="main__text"><span translate="DEFAULT.PAGE.SUPPORT.EMAIL"></span> support@gatetobit.com</p>
                </div>
            </div>
        </div>
    </div>
    </section>