﻿<section class="ls section_padding_top_100 section_padding_bottom_100 ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content__block" id="tos-js">
                    <div class="title">
                        <h3 translate="DEFAULT.PAGE.TOS.TITLE"></h3>
                    </div>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A1"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A2"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A3"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A4"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A5"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A6"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A7"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A8"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A9"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A10"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A11"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A12"></p>
                    <p class="main__text" translate="DEFAULT.PAGE.TOS.A13"></p>
                </div>
            </div>
        </div>
    </div>
    </section>
